h1{
    color: red;
}

header{
    color: blue;
}

div{
    color: sienna !important;
}

div p{
    color: greenyellow;
}

div ul li.mi-clase{
    font-size: 10px;
}

ul li{
    float: left;
}

#lista_desordenada{
    background: black;
    border: 1px solid red;
    width: 500px;
    height: 50px;
    
    padding: 1px 2px 3px 4px;
    margin: 0px 20px;
}

.mi-clase{
    color:blueviolet;
    font-size: 20px;
    border: 1px solid magenta;
    border-radius: 15px 15px;
}

.segunda-clase{
    font-size: 50px;
}

.color-negro{
    color: black;
}

span{
    font-weight: bold;
    font-size: large;
}